{% extends 'base.html' %}

{% block title %}场景分析{% endblock %}

{% block head %}
    <link rel="stylesheet"  href="{{url_for('static',filename='css/analysis.css')}}">
    <script src="{{ url_for('static',filename='js/city.js') }}" ></script>
{% endblock %}

{% block main %}
<form action="upload"  enctype="multipart/form-data" method="POST" style="margin-top: 300px">
{#  <div class="form-group col-lg-8" style="margin-top: 10px;width: 100%">#}
{#    <label for="">&nbsp;&nbsp;&nbsp;请上传工参文件</label>#}
{#      <a class="a-upload" herf="#">#}
          <input type="file" name="file">
          <input type=submit value=Upload>
{#      </a>#}
{#      </div>#}
</form>


    <form action="/analysis/new_mission" method="POST" style="margin-top: 300px; border-style: dashed; border-color: #2e6da4; border-width: thin">
    <div class="form-group col-lg-6" style="float: left; width: 30%;">
            <label for="scenes" style="float: left;">选择场景</label>
                <select class="form-control col-lg-4" id="scenes" name="scene" >
                    <option value="居民区">居民区</option>
                    <option value="医院">医院</option>
                    <option value="美食">美食</option>
                    <option value="美景">美景</option>
                </select>
    </div>
        <div class="form-group col-lg-6" style="float: left; width: 30%;";>
            <label for="province" style="float: left;">选择省份</label>
            <select class="form-control col-lg-4" id="province" name="province" ></select>
        </div>
          <div class="form-group col-lg-6" style="float: left; width: 30%;";>
                <label for="city">选择城市</label>
                <select class="form-control col-lg-4" id="city" name="city"></select>
          </div>   

  <div class="form-group col-lg-6" style="float: left; margin-top: 10px">
    <label for="" class="col-lg-4">张角α</label>
    <input type="" class="form-control col-lg-8" id="" placeholder="60" style="width: 50%; text-align: right">
  </div>
  <div class="form-group col-lg-6" style="float: left;">
    <label for="" class="col-lg-4">搜索半径R1m</label>
    <input type="" class="form-control" id="" placeholder="100" style="width: 50%; text-align: right">
  </div>
  <div class="form-group col-lg-6" style="float: left;">
    <label for="" class="col-lg-4">覆盖比例</label>
    <input type="" class="form-control" id="" placeholder="50" style="width: 50%; text-align: right">
  </div>
  <div class="form-group col-lg-6" style="float: right;">
    <label for="" class="col-lg-4">搜索半径R2m</label>
    <input type="" class="form-control" id="" placeholder="200" style="width: 50%; text-align: right">
  </div>

  <button type="submit" class="btn btn-default" style="margin-left: 30px">提交</button>
</form>

<script>
    (function(){
        var pHtmlStr = '';
        for(var name in pc){
            pHtmlStr = pHtmlStr + '<option>'+name+'</option>';
        }
        $("#province").html(pHtmlStr);
        $("#province").change(function(){
            var pname = $("#province option:selected").text();
            var pHtmlStr = '';
            var cityList = pc[pname];
            for(var index in cityList){
                pHtmlStr = pHtmlStr + '<option>'+cityList[index]+'</option>';
            }
            $("#city").html(pHtmlStr);
        });
        $("#province").change();
    })();

</script>


</form>



<script>
$(function() {
    $(".dropdown-toggle").dropdown('toggle');
});
</script>

{% endblock %}